name: Applause exercise

on: push

jobs:
  single-run:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Cypress run
        uses: cypress-io/github-action@v4
        timeout-minutes: 10
        with:
          start: npm test